<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="" ttp-equiv="Pragma" content="no-cache">
    <title>BlocSim</title>
    <link rel="stylesheet" href="static/css/blocsim-style/jquery-ui.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/jquery-ui-1.10.4.min.js"></script>
    <script src="static/js/sockjs-0.3.min.js"></script>
    <script src="config.js"></script>
    <script src="static/js/scripts.js"></script>
    <script src="static/js/style.js"></script>
</head>
<body>
    <script>

    </script>
    <div id="sidebar" class="left">
        {% include "panel-sidebar.html" %}
        <!--<button id="whichTabBtn">Which tab?</button>-->
    </div>
    <div id="content" class="right">
        <div id="content-wrapper" class="right-wrap">
            <div id="tabs" class="tabs">
                <ul class="tab-header">
                    <li><a id="href-tab1" href="#tabs-1">Webcam</a></li>
                    <!--<li><a id="href-tab2" href="#tabs-2">Calibration</a></li>-->
                    <li><a id="href-tab2" href="#tabs-2">Publish/Subscribe</a></li>
                    <li><a id="href-tab3" href="#tabs-3">RPC</a></li>
                </ul>
                <div id="tabs-1" class="tab">
                    {% include "panel-webcam.html" %}
                </div>
                <div id="tabs-2" class="tab">
                    {% include "panel-simulation.html" %}
                </div>
                <div id="tabs-3" class="tab">
                    {% include "panel-rpc.html" %}
                </div>
            </div>
        </div>
        <br/>
    </div>
    <!---------------------------------------------------------->
    <!--<div class="hlayout">-->
    <!--<div class="page">-->
    <div class="top">
        <div class="title helement">
            <a href="https://github.com/CPonty/BlocSim" class="unhyperlink">
                &#x27e4;
                    <span class="title-color1">Bloc</span>
                    <span class="title-color2">Sim</span>
                &#x27e5;
            </a>
        </div>
        <div class="header subtitle helement">
                Web Control Panel <span id="client-id-span"></span>
        </div>
    </div>
    <!-- open/close button - fixed position -->
    <!--<div id="sidebar-collapsebtn" class="button triangle-1-w-icon"> &nbsp; </div>-->
    <div id="sidebar-collapsebtn" class="button triangle-1-w-icon"> &nbsp; </div>-
</body>
</html>
