<!--
Webcam
<br/><br/>
-->
<!--<img style="border: 2px solid #7f7f7f;" src="" width="1920" height="1080"><br/>-->

<!--<div class="button not-button">Hi!</div>-->
<!--
<div class="not-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
    <span class="ui-button-text">Hi!</span>
</div>
-->

<!--
<div class="buttonset">
    <div class="button not-button skinny-button">Hi!</div>
    <button class="button skinny-button">2</button>
    <button class="button">3</button>
</div>
-->
<div style="float: left">
    <div class="stay-in-container">
        <div class="buttonset toolbar-nw">
            <!--
            <button class="button">A</button>
            <button class="button skinny-button">B</button>
            <div class="button not-button skinny-button">Hi!</div>
            <a>B</a>
            -->
        </div>
        <div style="margin-right:3px" class="buttonset toolbar-ne">
            <!--
            <input type="radio" name="webcam-tab-drawsize" id="webcam-tab-draw-scrollable" class="button arrow-4-icon" checked="1">
            <label for="webcam-tab-draw-scrollable" style="margin-right: -5px"> Scroll </label>
            <input type="radio" name="webcam-tab-drawsize" id="webcam-tab-draw-stretch" class="button arrow-2-ne-sw-icon">
            <label for="webcam-tab-draw-stretch" style="margin-right: -5px"> Stretch </label>
            <input type="radio" name="webcam-tab-drawsize" id="webcam-tab-draw-max" class="button extlink-icon">
            <label for="webcam-tab-draw-max" style="margin-right: -5px"> Stretch </label>
            -->
        </div>
    </div>
    <!--
    <div id="webcam-tab-toolbar-nw" class="toolbar-nw ui-corner-all">
        <button></button>
        <button></button>
    </div>
    -->
    <!--
    <div id="webcam-tab-toolbar-ne" class="buttonbar">
        <button id="webcam-tab-wide" style="float: right" class="arrow-4-diag-icon"> Widescreen </button>
        <button id="webcam-tab-fullscreen" style="float: right" class="arrow-4-diag-icon"> Fullscreen </button>
    </div>
    -->
    <!--<div style="clear:both"> &nbsp; </div>-->
    <!--<br/>-->
    <div id="webcam-tab-frame-container">
        <!--<iframe name="webcam-tab-frame-iframe" src="/ajax" frameborder="0" scrolling="auto" width="1920" height="1080" marginwidth="0" marginheight="0" >
        </iframe>-->

        <form id="reservation">
          <label for="webcam-tab-frame-name">Display Image: &nbsp; </label>
          <select name="frame-name-id" id="webcam-tab-frame-name">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
            <option>F</option>
            <option>G</option>
            <option>H</option>
            <option>I</option>
            <option>J</option>
            <option>K</option>
            <option>L</option>
            <option>M</option>
          </select>
        </form>
        <div style="width:100%">
            <!--
            <p>
                <label for="amount">Display:</label>
                <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            -->
            <div id="webcam-tab-frame-slider" style="width: 94%; left:3%; right:3%; margin-bottom: 1em; margin-top: 1em"></div>
        </div>

        <img id='frame' src='frame.jpg' class="sidebar-left" style="max-width: 100%; max-height: 100%; border: 2px solid black">

    </div>
    <br/>
</div>
<div style="clear:both"> &nbsp; </div>
<br/>

<a href="#!" id="calib-tab-accordion-link" class="tab-accordion unhyperlink">
    <div style="background-image: url(static/css/blocsim-style/images/ui-icons_000000_256x240.png) !important;"
         class="accordion-arrow ui-icon ui-icon-triangle-1-n"> &nbsp; </div>
    Calibration Panel:
</a>
<hr/>
<div id="calib-tab-panel" class="tab-accordion-area textspan">
    <div>
        <div class="slider-clustered">
            <div style="margin-bottom: 1em">
                <span>Price range:</span>
                <span id="amount-1" style="border:0; color:#f6931f; font-weight:bold;"></span>
            </div>
            <div id="sliderrange-1"></div>
        </div>
        <div class="slider-clustered">
            <div style="margin-bottom: 1em">
                <span>Price range:</span>
                <span id="amount-2" style="border:0; color:#f6931f; font-weight:bold;"></span>
            </div>
            <div id="sliderrange-2"></div>
        </div>
        <div class="slider-clustered">
            <div style="margin-bottom: 1em">
                <span>Price range:</span>
                <span id="amount-3" style="border:0; color:#f6931f; font-weight:bold;"></span>
            </div>
            <div id="sliderrange-3"></div>
        </div>
        <div class="slider-clustered">
            <div style="margin-bottom: 1em">
                <span>Price range:</span>
                <span id="amount-4" style="border:0; color:#f6931f; font-weight:bold;"></span>
            </div>
            <div id="sliderrange-4"></div>
        </div>
    </div>
    <br/>
    Calibration keystore:
    <pre id="test-tab-db-text"></pre>
</div>
<a href="#!" id="test-tab-accordion-link" class="tab-accordion unhyperlink">
    <div style="background-image: url(static/css/blocsim-style/images/ui-icons_000000_256x240.png) !important;"
         class="accordion-arrow ui-icon ui-icon-triangle-1-n"> &nbsp; </div>
    Test Panel:
</a>
<hr/>
<div id="test-tab-panel" class="tab-accordion-area textspan">
    <a href="/ajax" class="radio-on-text"> Webcam-Only View </a>
    <br/><br/>
    Inbound server message:
    <pre id="test-tab-sockjs-text"></pre>
</div>
<!--div.button.not-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only-->
<script>
    $( function() {
    });

  $(function() {


    var select = $( "#webcam-tab-frame-name" );
    var slider = $( "#webcam-tab-frame-slider" ).slider({
      min: 0,
      max: 12,
      range: "min",
      value: select[ 0 ].selectedIndex,
      slide: function( event, ui ) {
        select[ 0 ].selectedIndex = ui.value;
        frame_reload();
        //alert('slid');
      }
    });
    $( "#webcam-tab-frame-name" ).change(function() {
      slider.slider( "value", this.selectedIndex );
      frame_reload();
    });
  });

 $(function() {
   for (var i=1; i<=4; i++) {
    $( "#sliderrange-"+i.toString() ).slider({
      range: true,
      min: 0,
      max: 500,
      values: [ 75, 300 ],
      slide: function( event, ui ) {
        var name = this.id.toString().split("-")[1];
        $( "#amount-"+name ).html( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount-"+i.toString() ).html( "$" + $( "#sliderrange-"+i.toString() ).slider( "values", 0 ) +
      " - $" + $( "#sliderrange-"+i.toString() ).slider( "values", 1 ) );
   }
  });
</script>
