<!--<hr/>-->
<div id="callback-sidebar-text" style="width:80%; border:1px solid gray; padding: 0.5em">
    &nbsp;
</div>
<br/>
<a href="#!" id="webcam-sidebar-accordion-link" class="sidebar-accordion unhyperlink">
    <h3>
        <div style="background-image: url(static/css/blocsim-style/images/ui-icons_000000_256x240.png) !important;"
             class="accordion-arrow ui-icon ui-icon-triangle-1-n"> &nbsp; </div>
        Webcam
    </h3>
</a>
<hr/>
<div id="webcam-sidebar-group" class="sidebar-group">
    <div id="webcam-indicator" class="circle sidebar-left"> &nbsp; </div>
    <div class="sidebar-right">
        <div class="sidebar-controls">
            <div class="buttonset sidebar-right">
                <input value="1" type="radio" name="webcam-sidebar-radio1" id="webcam-sidebar-mode-1" class="play-icon" checked="1">
                <label for="webcam-sidebar-mode-1" style="margin-right: -5px"> Receive Data </label>
                <input value="2" type="radio" name="webcam-sidebar-radio1" id="webcam-sidebar-mode-2" class="pause-icon">
                <label for="webcam-sidebar-mode-2" style="margin-right: -5px"> Ignore Data </label>
                <input value="3" type="radio" name="webcam-sidebar-radio1" id="webcam-sidebar-mode-3" class="stop-icon">
                <label for="webcam-sidebar-mode-3" style="margin-right: -5px"> Stop Processing </label>
                <!--
                <input type="radio" name="webcam-sidebar-radio1" id="webcam-sidebar-disconnect" class="close-icon">
                <label for="webcam-sidebar-disconnect" style="margin-right: -5px"> &nbsp; </label>
                -->
            </div>
            <div class="sidebar-right">
                <div class="buttonset">
                    <button id="webcam-sidebar-eject" class="eject-text"> Disconnect </button>
                    <button id="webcam-sidebar-cycle" class="refresh-text"> Detect </button>
                </div>
                <div style="height: 0.4em"> &nbsp; </div>
                <a href="/ajax" class="radio-on-text"> Webcam-Only View </a>
            </div>
        </div>
        <table id="webcam-sidebar-table" class="sidebar-table">
            <tr id="tr-webcam-status">
                <th>Status:</th>
                <!--<td>No webcam connected</td>-->
                <!--<td>Connected (2:33:05 AM)</td>-->
                <td>Connecting...</td>
            </tr>
            <tr id="tr-webcam-framesize">
                <th>Resolution:</th>
                <!--<td>? x ?</td>-->
                <td>?</td>
            </tr>
            <tr>
                <th><hr/></th>
                <td><hr/></td>
            </tr>
            <tr id="tr-webcam-fps">
                <th>FPS:</th>
                <!--<td>0.0</td>-->
                <td>?</td>
            </tr>
       </table>
    </div>
</div>
<!--<hr/>-->
<a href="#!" id="cv-sidebar-accordion-link" class="sidebar-accordion unhyperlink">
    <h3>
        <div style="background-image: url(static/css/blocsim-style/images/ui-icons_000000_256x240.png) !important;"
             class="accordion-arrow ui-icon ui-icon-triangle-1-n"> &nbsp; </div>
        Image Processing
    </h3>
</a>
<hr/>
<div id="cv-sidebar-group" class="sidebar-group">
    <div id="cv-indicator" class="circle sidebar-left"> &nbsp; </div>
    <div class="sidebar-right">
        <div class="sidebar-controls">
            <div class="buttonset sidebar-right">
                <input value="1" type="radio" name="cv-sidebar-radio1" id="cv-sidebar-mode-1" class="play-icon" checked="1">
                <label for="cv-sidebar-mode-1" style="margin-right: -5px"> Receive data </label>
                <input value="2" type="radio" name="cv-sidebar-radio1" id="cv-sidebar-mode-2" class="pause-icon">
                <label for="cv-sidebar-mode-2" style="margin-right: -5px"> Ignore data </label>
                <input value="3" type="radio" name="cv-sidebar-radio1" id="cv-sidebar-mode-3" class="stop-icon">
                <label for="cv-sidebar-mode-3" style="margin-right: -5px"> Stop processing </label>
                <!--
                <input type="radio" name="cv-sidebar-radio1" id="cv-sidebar-disconnect" class="close-icon">
                <label for="cv-sidebar-disconnect" style="margin-right: -5px"> &nbsp; </label>
                -->
            </div>
            <div class="sidebar-right">
                <div class="buttonset">
                    <input value="480" type="radio" name="cv-sidebar-radio2" id="cv-sidebar-res-1">
                    <label for="cv-sidebar-res-1" style="margin-right: -5px"> 480p </label>
                    <input value="720" type="radio" name="cv-sidebar-radio2" id="cv-sidebar-res-2" checked="1">
                    <label for="cv-sidebar-res-2" style="margin-right: -5px"> 720p </label>
                    <input value="1080" type="radio" name="cv-sidebar-radio2" id="cv-sidebar-res-3">
                    <label for="cv-sidebar-res-3" style="margin-right: -5px"> 1080p </label>
                </div>
                <div style="height: 0.4em"> &nbsp; </div>
                <div class="buttonset">
                    <input value="1" type="radio" name="cv-sidebar-radio3" id="cv-sidebar-fps-1">
                    <label for="cv-sidebar-fps-1" style="margin-right: -5px"> 1fps </label>
                    <input value="5" type="radio" name="cv-sidebar-radio3" id="cv-sidebar-fps-2" checked="1">
                    <label for="cv-sidebar-fps-2" style="margin-right: -5px"> 5fps </label>
                    <input value="10" type="radio" name="cv-sidebar-radio3" id="cv-sidebar-fps-3">
                    <label for="cv-sidebar-fps-3" style="margin-right: -5px"> 10fps </label>
                </div>
                <!--
                    <div>
                        <div class="button not-button skinny-button">Quality:</div>
                        <button id="cv-sidebar-resolution-label" class="skinny-button">(max)</button>
                        <button id="cv-sidebar-resolution-dropdown" class="triangle-1-s-icon skinny-button"> &nbsp; </button>
                    </div>
                    <ul class="highz-1">
                        <li>
                            <a href="#!">480p</a>
                            <a href="#!">720p</a>
                            <a href="#!">1080p</a>
                            <a href="#!">(max)</a>
                        </li>
                    </ul>
                -->
            </div>
        </div>
        <table id="cv-sidebar-table" class="sidebar-table">
            <tr id="tr-cv-status">
                <th>Status:</th>
                <!--<td>Not connected to websocket</td>-->
                <!--<td>Connected (2:33:05 AM)</td>-->
                <td>Connecting...</td>
            </tr>
            <tr id="tr-cv-bandwidth">
                <th>Streaming Tx:</th>
                <!--<td>0.0 KB/s</td>-->
                <td>? KB/s</td>
            </tr>
            <tr>
                <th><hr/></th>
                <td><hr/></td>
            </tr>
            <tr id="tr-cv-framecount">
                <th>Frames Rx:</th>
                <!--<td>0</td>-->
                <td>?</td>
            </tr>
       </table>
    </div>
</div>
<!--<hr/>-->
<a href="#!" id="bmd-sidebar-accordion-link" class="sidebar-accordion unhyperlink">
    <h3>
        <div style="background-image: url(static/css/blocsim-style/images/ui-icons_000000_256x240.png) !important;"
             class="accordion-arrow ui-icon ui-icon-triangle-1-n"> &nbsp; </div>
        BMD/Simulation
    </h3>
</a>
<hr/>
<div id="bmd-sidebar-group" class="sidebar-group">
    <div id="bmd-indicator" class="circle sidebar-left"> &nbsp; </div>
    <div class="sidebar-right">
        <div class="sidebar-controls">
            <div class="buttonset sidebar-right">
                <input value="1" type="radio" name="bmd-sidebar-radio1" id="bmd-sidebar-mode-1" class="play-icon" checked="1">
                <label for="bmd-sidebar-mode-1" style="margin-right: -5px"> Receive Data </label>
                <input value="2" type="radio" name="bmd-sidebar-radio1" id="bmd-sidebar-mode-2" class="pause-icon">
                <label for="bmd-sidebar-mode-2" style="margin-right: -5px"> Ignore Data </label>
                <input value="3" type="radio" name="bmd-sidebar-radio1" id="bmd-sidebar-mode-3" class="stop-icon">
                <label for="bmd-sidebar-mode-3" style="margin-right: -5px"> Stop Processing </label>
                <!--
                <input type="radio" name="bmd-sidebar-radio1" id="bmd-sidebar-disconnect" class="close-icon">
                <label for="bmd-sidebar-disconnect" style="margin-right: -5px"> &nbsp; </label>
                -->
            </div>
            <div class="buttonset sidebar-right">
                <input type="checkbox" id="bmd-sidebar-mqtt" checked="1">
                <label for="bmd-sidebar-mqtt" style="margin-right: -5px"> BlocSim </label>
                <input type="checkbox" id="bmd-sidebar-simulation" checked="1">
                <label for="bmd-sidebar-simulation" style="margin-right: -5px"> Digital </label>
            </div>
        </div>
        <table id="bmd-sidebar-table" class="sidebar-table">
            <tr id="tr-bmd-status">
                <th>Status:</th>
                <!--<td>Not connected to websocket</td>-->
                <!--<td>Connected (2:33:05 AM)</td>-->
                <td>Connecting...</td>
            </tr>
            <tr id="tr-bmd-rx">
                <th>Socket Rx:</th>
                <td>? KB/s</td>
                <!--<td>0.0 KB/s</td>-->
            </tr>
            <tr id="tr-bmd-tx">
                <th>Socket Tx:</th>
                <td>? KB/s</td>
                <!--<td>0.0 KB/s</td>-->
            </tr>
            <tr>
                <th><hr/></th>
                <td><hr/></td>
            </tr>
            <tr id="tr-bmd-blockcount">
                <th>#blocks:</th>
                <!--<td>0</td>-->
                <td>?</td>
            </tr>
            <tr id="tr-bmd-linecount">
                <th>#connectors:</th>
                <td>?</td>
                <!--<td>0</td>--?
            </tr>
            <!--<tr>
                <th><hr/></th>
                <td><hr/></td>
            </tr>-->
            <tr id="tr-bmd-mqttcount">
                <th>MQTT Tx:</th>
                <!--<td>0</td>-->
                <td>?</td>
            </tr>
       </table>
    </div>
</div>
<!--<hr/>-->
<a href="#!" id="server-sidebar-accordion-link" class="sidebar-accordion unhyperlink">
    <h3>
        <div style="background-image: url(static/css/blocsim-style/images/ui-icons_000000_256x240.png) !important;"
             class="accordion-arrow ui-icon ui-icon-triangle-1-n"> &nbsp; </div>
        Server
    </h3>
</a>
<hr/>
<div id="server-sidebar-group" class="sidebar-group">
    <div id="server-indicator" class="circle sidebar-left"> &nbsp; </div>
    <div class="sidebar-right">
        <div class="buttonset sidebar-controls">
            <input type="checkbox" id="server-sidebar-eject" class="eject-text">
            <label for="server-sidebar-eject" style="margin-right: -5px"> Disconnect </label>
            <button id="server-sidebar-shutdown" class="power-text"> Off </button>
        </div>
        <table id="server-sidebar-table" class="sidebar-table">
            <tr id="tr-server-status">
                <th>Status:</th>
                <!--<td>Server shut down ()</td>-->
                <!--<td>Running (since 2:33:05 AM)</td>-->
                <td>Running</td>
            </tr>
            <tr id="tr-server-uptime">
                <th>Uptime:</th>
                <!--<td>1:32</td>-->
                <td>?</td>
            </tr>
       </table>
    </div>
</div>
<br/>

