Webcam
<!--<img style="border: 2px solid #7f7f7f;" src="" width="1920" height="1080"><br/>-->

<!--<div class="button not-button">Hi!</div>-->
<div class="buttonset">
    <!--
    <div class="not-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
        <span class="ui-button-text">Hi!</span>
    </div>
    -->
    <div class="button not-button skinny-button">Hi!</div>
    <button class="button skinny-button">2</button>
    <button class="button">3</button>
</div>
<!--div.button.not-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only-->
<script>
/*
    $( function() {
        $( ".ui-button" ).button();
    });
*/
</script>
