Simulation
<br/><br/><br/>

<a href="#!" id="simTextBmd-tab-accordion-link" class="tab-accordion unhyperlink">
    <div style="background-image: url(static/css/blocsim-style/images/ui-icons_000000_256x240.png) !important;"
         class="accordion-arrow ui-icon ui-icon-triangle-1-n"> &nbsp; </div>
    Block Model Diagram:
</a>
<hr/>
<div id="simTextBmd-tab-panel" class="tab-accordion-area textspan">
    text (no data) | json (no data)
</div>

<a href="#!" id="simTextLogic-tab-accordion-link" class="tab-accordion unhyperlink">
    <div style="background-image: url(static/css/blocsim-style/images/ui-icons_000000_256x240.png) !important;"
         class="accordion-arrow ui-icon ui-icon-triangle-1-n"> &nbsp; </div>
    Logic Gates:
</a>
<hr/>
<div id="simTextLogic-tab-panel" class="tab-accordion-area textspan">
    text (no data) | json (no data)
</div>

<a href="#!" id="simTextEval-tab-accordion-link" class="tab-accordion unhyperlink">
    <div style="background-image: url(static/css/blocsim-style/images/ui-icons_000000_256x240.png) !important;"
         class="accordion-arrow ui-icon ui-icon-triangle-1-n"> &nbsp; </div>
    Digital Logic Simulation:
</a>
<hr/>
<div id="simTextEval-tab-panel" class="tab-accordion-area textspan">
    (no data)
</div>
